<nav>
    <% if (user) { %>
        <div class="landing-header">
            <div class="logo-container">
                <a href="/">
                    <img src="/images/logo.png" alt="ServeSphere Logo" class="sphere-icon">
                    <h1>ServeSphere</h1>
                </a>               
            </div>
            <div class="nav-links">
                <a href="/volunteer">My Profile</a>
                <a href="/organizations">My Organizations</a>
                <a href="/listings">All Listings</a>
                <a href="/matches">Matching Dashboard</a>
                <a href="/auth/sign-out">Sign Out</a>
            </div>
        </div>
    <% } else { %>
        <div class="landing-header">
            <div class="logo-container">
                <a href="/">
                    <img src="/images/logo.png" alt="ServeSphere Logo" class="sphere-icon">
                    <h1>ServeSphere</h1>
                </a>  
            </div>
            <div class="auth-links">
                <a href="/auth/sign-up">Sign Up</a>
                <a href="/auth/sign-in">Sign In</a>
            </div>
        </div>
    <% } %>
</nav>