<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>My Organizations</title>
	</head>

	<body>
		<%- include('../partials/_navbar.ejs') %>

		<div class="index-container">
			<h1>Here's all my organizations:</h1>

			<% if (organizations.length > 0) {%>
				<div class="card-container">
					<% organizations.forEach((organization)=> { %>
						<% if (organization.owner._id.equals(currentUserId)) { %>	
								<div class="organization-card">
									<h3><%= organization.orgName %></h3>
									<a href="/organizations/<%= organization._id %>" class="view-details">View more details</a>
								</div>
						<% } %>
					<% }) %>
				</div>
			<% } else { %>
				<p> No organizations found. </p>
			<% } %>

			<a href="/organizations/new" class="action-button">Add a New Organization</a>
		</div>
	</body>

</html>