<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>All Listings</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <div class="index-container">
            <h1>Explore Listings 🔍</h1>

            <% if(listings.length === 0) { %>
                <p>No listings available.</p>
            <% } else { %>
                <div class="card-container">
                    <% listings.forEach((listing) => { %>
                        <div class="listing-card">
                            <h3><%= listing.event %></h3>
                            <p>Owned by <%= listing.owner.orgName %></p>
                            <a href="/listings/<%= listing._id %>" class="view-details">View more details</a>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </div>
    </body>
</html>