<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All Listings</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1>Here's all the Listings</h1>
        <% if(listings.length === 0) { %>
            <p> No listings available. </p>
        <% } %>
        <ul>
            <% listings.forEach((listing) => { %>
            <li>
                A listing for the <%= listing.event %> owned by <%=
                listing.owner.orgName %>.
                <a href="/listings/<%= listing._id %>">View more details.</a>
            </li>
            <% }) %>
        </ul>
    </body>
</html>