<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
    </head>

    <body>
        <%- include('./partials/_navbar.ejs') %>

        <% if (user) { %>
            <h1>Welcome to the app, <%= user.username %>!</h1>

            <!-- If a volunteer profile exists, redirect to the profile -->
            <% if (volunteer) { %>
                <a href="/volunteer/profile">My Profile</a>
            <!-- Otherwise, create a new one -->
            <% } else {  %>
                <a href="/volunteer/new">Add a Profile</a>
            <% } %> 

        <% } else { %>
            <h1>Welcome to the app, guest.</h1>
        <% } %>
    </body>

</html>