<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>ServeSphere</title>
    </head>

    <body>
        <%- include('./partials/_navbar.ejs') %>

        <div class="landing-image"></div>

        <span class="volunteering-icon"></span>

            <div class="index-container">
                <% if (user) { %>
                    <h1>Welcome to ServeSphere, <%= user.username %>!</h1>
                    <h2>Where service meets opportunity 🤝</h2>
                    <p><em>Ready to make a difference? Create or access your profile below!</em></p>

                    <div class="card-container">
                        <!-- If a volunteer profile exists, redirect to the profile -->
                        <% if (volunteer) { %>
                            <a href="/volunteer/profile">My Volunteer Profile</a>
                        <!-- Otherwise, create a new one -->
                        <% } else {  %>
                            <a href="/volunteer/new">Add Volunteer Profile</a>
                        <% } %> 

                        <!-- If organization profiles exist: -->
                        <% if (organizations.length > 0) { %>
                            <a href="/organizations">My Organization Profile<%= organizations.length > 1 ? "s" : "" %></a>
                        <!-- If there is no organization profile, create a new one -->
                        <% } else {  %>
                            <a href="/organizations/new">Add Organization Profile</a>
                        <% } %> 
                    </div>

                <% } else { %>
                    <h1>Welcome to ServeSphere!</h1>
                    <p><em>Connecting volunteers and organizations to create positive change</em></p>
                <% } %>
            </div>
    </body>

</html>